<tr class="bg-white border-b dark:bg-gray-800 dark:border-gray-700 hover:bg-gray-50 dark:hover:bg-gray-600">
    <th scope="row" class="px-6 py-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
        <%= recommendation.jobseeker_id %>
    </th>
    <td class="px-6 py-4">
        <%= recommendation.jobseeker_name %>
    </td>
    <td class="px-6 py-4">
        <%= recommendation.job_id %>
    </td>
    <td class="px-6 py-4">
        <%= recommendation.job_title %>
    </td>
    <td class="px-6 py-4">
        <%= recommendation.matching_skill_count %>
    </td>
    <td class="px-6 py-4">
        <%= recommendation.matching_skill_percent %>%
    </td>
</tr>
