<div class="mt-4 relative shadow-md">
    <%= render 'table',
        headers: [
        'ID', 'Title', 'Required Skils', ''
        ],
        content_id: "jobs_table" do
    %>
        <%= render partial: 'job', collection: @jobs, cached: true %>

        <%# <% @jobs.each do |job| %1> %>
        <%#     <%= render 'job', job: %1> %>
        <%# <% end %1> %>
    <% end %>
</div>

<%= render "top_candidates_modal" %>

<%= render "load_more", load_more_path: jobs_path(page: @page + 1, format: :turbo_stream) %>
